{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href= {% static 'questionsRules/style_dinamic.css' %}>
<link rel="stylesheet" href= {% static 'questionsRules/footer.css' %}>
<link rel="stylesheet" href= {% static 'questionsRules/navbar.css' %}>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar al Gorgojo</title>
</head>
<body>
    {% include "questionsRules/header.html" %}
    <header class="header">
        <div class="title_header">
            <p class="text1">
                <span class="word wisteria">Combatir</span>
                <span class="word belize">Contrarrestar</span>
            </p>
            <p class="text2"> al Gorgojo de Los Andes</p>
        </div>
    </header>
    <main class="container">
        <section>
            <div class="section_title">
                <h2>Su cultivo corre mucho riesgo</h2>
            </div>
            <div class="section_content">
                <img src="/static/questionsRules/images/peligro.png" alt="Su cultivo corre mucho peligro cuando encuentra a la plaga del gorgojo de Los Andes">
                <p>
                    Si encontro gran cantidad de Gorgojos en la recolección, es muy probable que la plaga 
                    ya debio dejar muchisimos huevos cerca a las plantas del cultivo de papa. <br>
                    No pierda la calma y mucho menos no recurra a métodos que ponga en peligro a su cultivo de papa. <br>
                    Aca le mostramos todo lo que debe hacer una vez sepa que su cultivo tiene a la plaga del 
                    Gorgojo de Los Andes en una gran cantidad y que posiblemente su cultivo tiene mucho peligro.
                </p>
            </div>
        </section>
        <section>
            <div class="section_title">
                <h2>¿Qué debemos hacer si tenemos una gran cantidad de plaga en la parcela?</h2>
            </div>
            <div class="section_content">
                <p>
                    Lo principal y mas recomendado es no entrar en desesperación si la plaga del Gorgojo 
                    de Los Andes esta en nuestro cultivo de papa, lo siguiente que debemos tener muy 
                    encuenta es en que momento se encuentra su cultivo actualmente, debido que se tiene 
                    dos posibles opciones:
                    <br><br>
                </p>
                <img src="/static/questionsRules/images/two_options.gif" alt="Verificar si su cultivo se encuentra para una cosecha oportuna o si hara uso de químicos">
            </div>
            <div class="section_content">
                <p>
                    <span>APUNTO DE CULTIVAR: </span> <br>
                    Una gran opción es una cosecha oportuna, pero ¿Qué es una cosecha oportuna? <br>
                    Debido a que en tu parcela ya encontraste la plaga del Gorgojo de Los Andes y que ya 
                    estas en temporada de cosecha de tu cultivo de papa, lo mejor y mas recomendable es 
                    adelantar la cosecha, por que asi se reducira muchisimo los daños que pueda causar la 
                    plaga, ahi el nombre de <span>"cosecha oportuna" </span>. <br>
                    <span>NO ES POSIBLE CULTIVAR: </span><br>
                    Si se encuentra muy lejos de la temporada de cosecha y ya detectó que la plaga del Gorgojo de 
                    Los Andes lo mas recomendable es una limpieza de recolección de gorgojos, limpia debajo de las 
                    plantas de papa e incluso si esta mas del 50% de su cultivo con las hojas dañadas en forma de media 
                    luna podemos hacer la desinfección química orgánica o inorgánica que veremos a continuación.
                </p>
            </div>
        </section>
        <section>
            <div class="section_title">
                <h2>Insecticidas Orgánicas e Inorgánicas en caso de no poder cultivar aún</h2>
            </div>
            <div class="section_content">
                <p>
                    Como buen agricultor el deber es siempre proteger tu cultivo y la tierra del mismo, 
                    por ende de preferencia siempre escogeremos insecticidas orgánicos mucho mas que los 
                    inorgánicos, pero los insecticidas orgánicos tienen un porcentaje de 50 a 50 de ser 
                    efectivos en la plaga del Gorogjo de Los Andes.<br>
                </p>
            </div>
            <div class="section_content">
                <p>
                    En cambio un insecticida inorgánico tienden a ser algo mas efectivos, pero tambien es 
                    un riesgo para tu cultivo el uso de los insecticidas inorgánicos y no solo para tu 
                    cultivo, la tierra donde estas cultivando la papa tambien sufrira un daño vital. <br>
                    Cabe recalcar que el uso en exceso de insecticidas es muy malo no tanto por el daño 
                    en el cultivo o en la tierra sino que debido al uso en exceso la plaga del Gorgojo de 
                    Los Andes podria mutar a tal grado que sea inmume a el insecticida que se 
                    aplico.          
                </p>
                <img src="/static/questionsRules/images/organico_inorganico.png" alt="decisión de cual insecticida usar el inorgánico o orgánico">
            </div>
            <div>
                <h3>Insecticida Orgánico</h3>
            </div>
            <div class="section_content">
                <p>
                    Un insecticida tanto para la plaga como el Gorogjo de Los Andes es:
                    <br>
                    <span>Aji ó Ajo: </span> Un buen insecticida combinando el aji o ajo con agua para 
                    proceder luego a la desinfección de la parcela sin duda es un buen insecticida 
                    orgánico que no dañara a su cultivo de papa ni mucho menos a la tierra, aunque la 
                    eficiencia del insecticida esta en 50%.
                    <br>
                </p>
            </div>
            <div class="section_content">
                <img src="/static/questionsRules/images/insecticida_organico.gif" alt="Recomendación de algunos insecticidas orgánicos que se usan">
                <p>
                    <span>Azufre: </span>El azufre es un gran elemento si queremos elaborar un buen 
                    insecticida orgánico para nuestro cultivo de papa, lo que se busca es bañar las 
                    plantas del cultivo con un poco de azufre para que la mayoria o toda las hojas de las 
                    plantas tenga el azufre necesario para que elimine a la plaga del Gorgojo de Los Andes.
                </p>

            </div>
            <div>
                <h3>Insecticidas Inorgánicos</h3>
            </div>
            <div class="section_content">
                <p>
                    Tambien puede aplicar los insecticidas en un caso muy extremo de encontrar y saber que en su cultivo de papa, esta la plaga del Gorgojo de Los Andes. En este caso 
                    excepcional y aun faltando para la temporada de cosecha podemos volver a usar los
                    insecticidas.
                    <br>
                    Existen dos químicos poco nocivos y muy recomendables para el cultivo de papa los cuales son:
                </p>
                <img src="/static/questionsRules/images/Insecticidas.gif" alt="insecticidas inorgánicos que mas se usan">
            </div>
            <div class="section_list">
                <ul>
                    <li>Karate</li>
                    <li>Lambdacal</li>
                </ul>
            </div>
            <div>
                <h3>¿Cómo preparar estos insecticidas?</h3>
            </div>
            <div class="section_content">
                <p>
                    La elaboración de estos insecticidas es simple en una mochila de 20 litros echamos dos 
                    tapitas de cualquier insecticidad que tengamos (Karate o Lambdacal),basicamente 20cc y 
                    llenamos el resto de la mochila con agua.
                </p>
            </div>
            <div>
                <h3>¿Cuándo puede aplicar los insecticidas?</h3>
            </div>
            <div class="section_content">
                <p>
                    El insecticida a manera de prevención se puede aplicar una ves la mayoria de las plantas 
                del cultivo salieron y tengan un aproximado de 10 centímetros de altura posteriormente 
                podemos aplicar una vez mas en el primer aporque de su cultivo de papa. Una gran 
                recomendación es la aplicación del insecticida muy temprano o sino en el atardecer.
                </p>
            </div>
            <div>
                <h3>¿Cómo aplicar los insecticidas?</h3>
            </div>
            <div class="section_content">
                <p>
                    Una vez tengamos lista la mochila con el insecticida debemos fumigar alrededor del cuello 
                    de las plantas y al suelo, <span>tenga mucho cuidado con no hacer llegar a las hojas de 
                    las plantas</span>.
                </p>
            </div>
            <br>
            <div class="button-gorgojo">
                <a href ="{% url 'questionsRules:rules' question.id %}" class="btn-gorgojo">Continuar con el sistema</a>
            </div>
        </section>
    </main>
    {% include "questionsRules/footer.html" %}
