{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href= {% static 'questionsRules/style_dinamic.css' %}>
<link rel="stylesheet" href= {% static 'questionsRules/footer.css' %}>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aporque</title>
</head>
<body>
    <header class="header">
        <h1>Aporque, ¿Porqué es esencial en su cultivo?</h1>
    </header>
    <main class="container">
        <section>
            <div class="section_title">
                <h2>¿Qué es Aporque?</h2>
            </div>
            <div class="section_content">
                <img src="/static/questionsRules/images/que_es_aporque.gif" alt="Qué es un aporque">
                <p>
                    El <span>Aporque</span> es una técnica agricola muy usada en muchos cultivos por agricultores experimentados, 
                    esta técnica consiste en acumular mucha tierra el todo el tallo de la planta, con el fin de que queden protegidas 
                    de las distintas plagas que existen e incluso facilita el riego e impide que la humedad se exceda.
                    <br>
                    Debemos cubrir con tierra alrededor de la planta de papa, esto traera muchos beneficios a nuestro
                    cultivo de papa, pero un gran beneficio es el de protegerte de la plaga, logrando la no entrada de
                    los gusanos a donde esta el tuberculo de papa.
                </p>
            </div>
        </section>
        <section>
            <div class="section_title">
                <h2>¿Cuándo realizar el Aporque?</h2>
            </div>
            <div class="section_content">
                <p>
                    El realizar aporque depende mucho que estamos cultivando, en este caso nuestro cultivo es de papa, entonces 
                    el primer aporque se debe realizar <span>una vez la planta de la papa supere los 15 centímetros de altura.</span> 
                    Debido que si se realizara antes entonces es muy probable que salgan raices en el aporque y esto es muy malo para 
                    el cultivo de papa.
                </p>
                <img src="/static/questionsRules/images/realizar_aporque.gif" alt="Cuando se debe realizar el aporque">
            </div>
        </section>
        <section>
            <div class="section_title">
                <h2>Beneficios de realizar un Aporque</h2>
            </div>
            <div class="section_content">
                <img src="/static/questionsRules/images/aporque.png" alt="como queda el cultivo con el aporque">
                <p>
                    <ul>
                        <li>Facilita el riego.</li>
                        <li>Impide que se exceda la humedad.</li>
                        <li>Impide la quema por el sol y la helada.</li>
                        <li>Favorece el crecimiento vertical de la planta.</li>
                        <li>Permite eliminar los gusanos de la tierra como la larva del Gorgojo de Los Andes</li>
                        <li>Facilita el abonamiento de la planta.</li>
                    </ul>
                </p>
            </div>
            <br>
            <div class="button-gorgojo">
                <a href ="{% url 'questionsRules:rules' question.id %}" class="btn-gorgojo">Continuar con el sistema</a>
            </div>
        </section>
    </main>
    {% include "questionsRules/footer.html" %}
