{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href= {% static 'questionsRules/preventiveMeasures.css' %}>
<link rel="stylesheet" href= {% static 'questionsRules/footer.css' %}>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peligro en el almacén</title>
</head>
<body>
    <header class="header">
        <h1>Peligro en el almacén</h1>
    </header>
    <main class="container">
        <section>
            <div class="section_title">
                <h2>¿Porqué la papa no esta a salvo en el almacén?</h2>
            </div>
            <div class="section_content">
                <img src="" alt="">
                <p>
                    Bueno muchos agricultores piensan que guardando toda su papa en un almacén o lugar 
                    "seguro" toda esa papa estará segura pero lamentablemente este es un grandísimo error.
                    <br>
                    Puesto que incluso en el almacén o lugar de almacenamiento, la plaga del Gorgojo de Los 
                    Andes llega y la papa corre un gran peligro.
                </p>
            </div>
        </section>
        <section>
            <div class="section_title">
                <h2>¿Cómo proteger a nuestra papa?</h2>
            </div>
            <div class="section_content">
                <img src="" alt="">
                <p>
                    En el almacén debemos prepararnos muy bien para poder combatir a la plaga del Gorgojo de 
                    Los Andes asi que aca veremos las mejores prácticas a realizar.
                    <br>
                    <h3>Un lugar alto</h3>
                    Es importante que la papa no este en contacto con el suelo y mucho menos con la tierra por 
                    donde el gusano o larva pueda ingresar para completar su ciclo de vida, asi que debemos 
                    elegir un lugar un alto para que eso no suceda.
                    <br>
                    Tambien se vee muy frecuente el uso de camas de paja o khoa sobre el cual podemos depositar 
                    los tubérculos.
                    <br>
                    <h3>Gallinas como predadores</h3>
                    Tener gallinas cerca donde almacenamos la papa es muy bueno y de gran ayuda debido que las 
                    gallinas tienden a comer a los gusanos.
                    <br>
                    <h3>Uso del Hongo Blanco</h3>
                    El uso del Hongo blanco ayuda mucho a combatir a la plaga del Gorgojo de Los Andes, cortandole 
                    que pueda completar su ciclo de vida, asi entonces nos ayudaria contra futuras poblaciones de 
                    la plaga.
                    <br>
                    Para lograr el control adecuado debemos hacer uso de este Hongo Blanco poniendolo a alrededor de 
                    5 centímetros de la tierra y exparciendo el hongo y regandolo para luego taparlo con la misma 
                    tierra removida, tambien podemos enbolsarlas en bolsas plásticas por periodo de 6 a 12 días.
                </p>
            </div>
        </section>
    </main>
    {% include "questionsRules/footer.html" %}
