<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buenas Prácticas y el Gorgojo</title>
</head>
<body>
    <header>
        <h1>Buenas prácticas para su cultivo y ¿Qué es el Gorgojo de Los Andes?</h1>
    </header>
    <main class="container">
        <section>
            <div>
                <p> El Gorgojo de Los Andes conocido por su nombre cientifico <b> Premnotrypes SPP  </b> tambien llamada como Gusano Blanco de la papa, el cual se encuentra en toda Sudamérica entre 2500 y 4700 m.s.n.m., está es una de las plagas mas peligrosas si no esque la mas peligrosa para su cultivo de papa.</p>
            </div>
            <div>
                <img src="/static/questionsRules/images/GorgojoAdultoSolo.svg" width="400px"  alt="gorgojo adulto" class="img-gorgojo">
            </div>
        </section>
        <section>
            <div>
                <h2>Ciclo de vida del Gorgojo</h2>
                <p>El Gorgojo de Los Andes en su ciclo de vida presenta 4 fases las cuales son: huevo, larva, pupa y adulto.</p>
            </div>
            <div>
                <p><b>HUEVO: </b>Los huevos del Gorgojo de Los Andes son algo ovalados, segun expertos tiene un tamaños entre 1,12 y 1,25 mm de longuitud. Al principiolos huevos tienen un color blanco que con el pasar del tiempo se van poniendo de un color amarillento, por seguridad para los huevos estan cubiertos por una sustancia mucilaginosa y blanda la cual les cubre y protege. <br> Los huevos eclosionan alrededor de 20 a 30 días.</p>
                <div class="box-container">

                    <div class="gorgojo__phases-image">
                        <img src="/static/questionsRules/images/CiclosDelGorgojo.gif" width="400px" alt="Ciclos del Gorgojo de Los Andes">
                    </div>
                    <div class="gorgojo__phases-text">
                        <p><b>Larva: </b>En este estado el Gorgojo de Los Andes mide aproximadamente entre 11 y 13 mm, no presente patas por lo que su movilidad se basa en arrastrarse, tiene una forma de tipo "C".<br>En esta fase el Gorgojo de Los Andes es un total riesgo para nuestro cultivo de papa, debido a que la larva debe sobrevivir y busca el tubérculo de la papa para su alimentación.</p>
                        <p><b>Pupa: </b>Luego de la fase de larva el Gorgojo entra en una fase de pupa que se desarrolla en una celda formada de tierra, donde se ponen asi durante 20 a 32 días. En esta fase el Gorgojo es mas suceptible debido a que existen microorganismos que la pueden parasitar, un ejemplo el hongo Beauveria Bassiana. <br> Presenta un color blanco al principio pero debido al periodo de melanización(mecanismo de defensa de los insectos frente a organismos invasores) va cambiando a un color amarillento a pardo oscuro.</p>    
                    </div>
                </div>
                <p><b>Adulto: </b>En su fase adulta el Gorgojo de Los Andes mide aproximadamente 7 mm de largo y 4 mm de ancho, no pueden volar, sin embargo, son muy habilidosos para caminar. Debido a su coloracion tipo gris es muy dificil su detección puesto que se camufla con la tierra.</p>
            </div>
        </section>
        <section>
            <div>
                <h2>Como se reproduce la plaga del Gorgojo de Los Andes</h2>
            </div>
            <div class="box-container">
                <div class="gorgojo__danger-image">
                    <img src="/static/questionsRules/images/NoAlCultivo.svg"
                        width="400px" alt="Papa dañada por larvas">
                </div>
                <div class="gorgojo__danger-text">
                    <p>La plaga del Gorogojo de Los Andes es muy peligrosa para su parcela, si usted no hace nada para evitar que la plaga destruya totalmente su cultivo debe estar muy a la guardia, debe revisar mucho alrededor de las plantas de su cultivo o otras plantas de cultivos pasados, debido que en ese lugar los Gorgojos Adultos dejan los huevos. Sin duda la fase de larva es la mas peligrosa del Gorgojo de Los Andes asi que antes que llegue a esa fase debemos contrarestarla.
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div>
                <h2>¿Es necesario qué la tierra o suelo descanse?</h2>
            </div>
            <div>
                <img src="" alt="">
                <p>Sin duda, una de las desventajas de ser novatos a la hora de cultivar es el hecho de no saber
                    en que momento la tierra debe descansar o no, sin embargo como es su primer cultivo esto no deja
                    de pasar inapercibido debido que luego de algunos cultivos debera hacer "descansar a la tierra".
                    Pero, ¿Cómo se logra eso?. Pues bien, luego de cultivos como la papa es donde la tierra presenta mayor
                    desgaste, algunos agrícolas y sectores de cultivo van rotando los cultivos, como ser la quinua, haba, cebada,
                    etc. <br> Al termino de siete años de rotación es recomendable un <span>"descanso de la tierra"</span>, de ¿cuánto
                    tiempo?, se estara preguntando, algunos expertos afirman que la tierra debe descansar varios años superiores
                    a los que trabajo, sin embargo otros afirman que con un año de descanso y posteriores sembrados "ligeros"
                    como la quinua o la cebada para el proceso de regeneración de la tierra y otra tercera opcion llegaria a ser el uso de
                    productos químicos para acelerar la regeneración de la tierra.
                </p>
            </div>
        </section>
        <section>
            <div>
                <h2>¿Qué cultivos podria plantar para descansar la tierra o suelo?</h2>
            </div>
            <div>
                <img src="" alt="">
                <p>Si lo que quiere es descansar su parcela, lo mas recomendable es que no cultive nada aunque eso para muchos agrícolas
                    es una gran perdida. Lo mejor en caso de querer cultivar algo y no tener mucha pérdida económica es el sembrado de <span>quinua</span>
                    y <span>cebada</span>, ambos son muy ligeros para el cultivo y ayudan de gran manera a la regeneración de la tierra, tambien poner encima
                    de la parcela abono para que ayude con la regeneración.
                </p>
            </div>
        </section>
        <section>
            <div>
                <h2>¿Qué pasa si no se deja descansar el suelo o tierra?</h2>
            </div>
            <div>
                <img src="" alt="">
                <p>Cuando no realizas los cuidados necesarios a tu parcela, como ser el descanso luego de varios años de cultivos sin descanso
                    la tierra o suelo no tiene la oportunidad de recuperar y almacenar materia orgánica. <br>
                    Si no se deja descansar bien a la tierra afectara de gran manera a su cultivo teniendo que hacer muchisimo esfuerzo para no
                    perder la totalidad de su cultivo.
                </p>
            </div>
        </section>
    </main>
</body>
</html>