{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href= {% static 'questionsRules/gorgojo.css' %}>
<link rel="stylesheet" href= {% static 'questionsRules/footer.css' %}>


{% if latest_question_list %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gorgojo de Los Andes</title>
    </head>
    <body>
        <header class="header text-center">
            <h1>¿Qué es el Gorgojo de Los Andes?</h1>
        </header>
        <main class="container">
            <section>
                <div>
                    <p> El Gorgojo de Los Andes conocido por su nombre cientifico <b> Premnotrypes SPP  </b> tambien llamada como Gusano Blanco de la papa, el cual se encuentra en toda Sudamérica entre 2500 y 4700 m.s.n.m., está es una de las plagas mas peligrosas si no esque la mas peligrosa para su cultivo de papa.</p>
                </div>
                <div>
                    <img src="/static/questionsRules/images/GorgojoAdultoSolo.svg" width="400px"  alt="gorgojo adulto" class="img-gorgojo">
                </div>
            </section>
            <section>
                <div>
                    <h2>Ciclo de vida del Gorgojo</h2>
                    <p>El Gorgojo de Los Andes en su ciclo de vida presenta 4 fases las cuales son: huevo, larva, pupa y adulto.</p>
                </div>
                <div>
                    <p><b>HUEVO: </b>Los huevos del Gorgojo de Los Andes son algo ovalados, segun expertos tiene un tamaños entre 1,12 y 1,25 mm de longuitud. Al principiolos huevos tienen un color blanco que con el pasar del tiempo se van poniendo de un color amarillento, por seguridad para los huevos estan cubiertos por una sustancia mucilaginosa y blanda la cual les cubre y protege. <br> Los huevos eclosionan alrededor de 20 a 30 días.</p>
                    <div class="box-container">

                        <div class="gorgojo__phases-image">
                            <img src="/static/questionsRules/images/CiclosDelGorgojo.gif" width="400px" alt="Ciclos del Gorgojo de Los Andes">
                        </div>
                        <div class="gorgojo__phases-text">
                            <p><b>Larva: </b>En este estado el Gorgojo de Los Andes mide aproximadamente entre 11 y 13 mm, no presente patas por lo que su movilidad se basa en arrastrarse, tiene una forma de tipo "C".<br>En esta fase el Gorgojo de Los Andes es un total riesgo para nuestro cultivo de papa, debido a que la larva debe sobrevivir y busca el tubérculo de la papa para su alimentación.</p>
                            <p><b>Pupa: </b>Luego de la fase de larva el Gorgojo entra en una fase de pupa que se desarrolla en una celda formada de tierra, donde se ponen asi durante 20 a 32 días. En esta fase el Gorgojo es mas suceptible debido a que existen microorganismos que la pueden parasitar, un ejemplo el hongo Beauveria Bassiana. <br> Presenta un color blanco al principio pero debido al periodo de melanización(mecanismo de defensa de los insectos frente a organismos invasores) va cambiando a un color amarillento a pardo oscuro.</p>    
                        </div>
                    </div>
                    <p><b>Adulto: </b>En su fase adulta el Gorgojo de Los Andes mide aproximadamente 7 mm de largo y 4 mm de ancho, no pueden volar, sin embargo, son muy habilidosos para caminar. Debido a su coloracion tipo gris es muy dificil su detección puesto que se camufla con la tierra.</p>
                </div>
            </section>
            <section>
                <div>
                    <h2>Como se reproduce la plaga del Gorgojo de Los Andes</h2>
                </div>
                <div>
                    <img src="/static/questionsRules/images/NoAlCultivo.svg"
                        width="400px" alt="Papa dañada por larvas">
                </div>
            </section>
            <section>
                <div>
                    <h2>El Gorgojo de Los Andes, ¿Una amenaza?</h2>
                </div>
                <div class="box-container">
                    <div class="gorgojo__danger-text">
                        <p>Según grandes expertos y muchas investigaciones en el cultivo de papa, el Gorgojo de Los Andes podria dañar hasta el 100% de su parcela, llegando a perder todos su capital.
                            <br>
                            ¿Entonces como proteger tu parcela de esta amenaza?
                            <br>
                            Descuida, en este sistema te enseñaremos <b>TODO</b> para que puedas cuidar y proteger tu parcela de esta peligrosa plaga, tambien veras mejores formas de cuidar tu cultivo de papa a través de quimicos poco nocivos y ademas de cultivar otros vegetales alrededor de la parcela de papa para ponerlos como barrera de protección.
                        </p>
                    </div>
                    <div class="gorgojo__danger-image">
                        <img src="/static/questionsRules/images/GorgojoAmenaza.gif"
                        width="400px" alt="Gorgojo, ¿Una amenaza?">
                    </div>
                </div>
                <div class="button-gorgojo">
                    <a href ="{% url 'questionsRules:rules' question.id %}" class="btn-gorgojo">Continuar con el sistema</a>
                </div>
            </section>
        </main>
        {% include "questionsRules/footer.html" %}
    {% else %}
    <p>Question error!!</p>
{% endif %}