{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href= {% static 'questionsRules/reset.css' %}>
    <link rel="stylesheet" href= {% static 'questionsRules/index.css' %}> {% endcomment %}
    {% comment %} <link rel="stylesheet" href= {% static 'questionsRules/style.css' %}> {% endcomment %}
    <title>SEGorgojo</title>
</head>
<body>
    <header>
        <h1>Sistema Experto para el Manejo Integrado del Gorgojo de Los Andes</h1>
    </header>