<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEGorgojo</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light principal">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                LuisKyo
            </a>
            <button class="navbar-toggler iconFix" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon iconFix"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item ">
                    <a class="nav-link textDetail" style="color:white" aria-current="page" href="{% url 'questionsRules:index' %}">Principal</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link textDetail" style="color:white" aria-current="page" href="{% url 'questionsRules:rules' 1 %}">Empezar el Sistema</a>
                  </li>
                </li>
                <li class="nav-item">
                  <a class="nav-link textDetail" style="color:white" aria-current="page" href="{% url 'questionsRules:rules' 1 %}">¡Objetivo!</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link textDetail" style="color:white" aria-current="page" href="#">¿Quien Soy?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link textDetail" style="color:white" aria-current="page" href="#">Contacto</a>
                  </li>
                </ul>
            </div>
        </div>
    </nav>