{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href= {% static 'questionsRules/style_dinamic.css' %}>
<link rel="stylesheet" href= {% static 'questionsRules/footer.css' %}>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barrera Vegetal</title>
</head>
<body>
    <header class="header">
        <div class="title_header">
            <p class="text1">
                <span class="word wisteria">Barrera-Vegetal</span>
                <span class="word belize">Protección-vegetal</span>
            </p>
            <p class="text2"> Para su Cultivo de Papa</p>
          </div>
    </header>
    <main class="container">
        <section>
            <div class="section_title">
                <h2>¿Qué es barrera vegetal?</h2>
            </div>
            <div class="section_content">
                <img src="/static/questionsRules/images/CultivosVegetales.gif" alt="Importancia de cultivar vegetales alrededor del cultivo de papa">
                <p>
                    La barrerra vegetal consiste en proteger su cultivo o parcela de papa cultivando alrededor del mismo vegetales.
                    <br> 
                    Una medida muy buena para el manejo integrado del Gorgojo de Los Andes es emplear cultivos alrededor de la 
                    parcela, como ser vegetales de <span>Tarwi</span> y de <span>oca.</span>
                    <br>
                </p>
            </div>
            <div class="section_content">
                <p>
                    Donde por grandes expertos que 
                    realizaron estudios se determino que esta barrera controla muy bien el ingreso de los Gorgojos de Los Andes, 
                    logrando afirmar que el cultivo de <span>Tarwi reduce en 45% los daños</span> y en <span>la oca, unos 28%</span> 
                    de daño respecto a  la parcela.
                </p>
            </div>
        </section>
        <section>
            <div class="section_title">
                <h2>Cultivo de Tarwi</h2>
            </div>
            <div class="section_content">
                <p>
                    El Tarwi generalmente se cultiva en los departamentos de Potosí, Cochabamba, La Paz, Chuquisaca y Oruro con 
                    una producción maxima de 5.631 de quintales segun estudios realizados en 2017 por el <span>Ministerio de 
                    Desarrollo Productivo y Economía Plural</span>
                    <br>
                </p>
            </div>
            <div class="section_content">
                <p>
                    El Tarwi es un alimento muy nutritivo similar a la Quinua, es muy recomendada como barrera vegetal debido a 
                    que presenta un gran alto en sus plantas que neutroalizan la movilidad que pueda tener el Gorgojo de Los Andes.
                    <br>
                    El tarwi ademas de protegerte de la plaga del Gorgojo de Los Andes también ayudara para la regeneracion de 
                    la tierra y combinandolo bien con el abono, el suelo o tierra del lugar regenerara de gran forma los nutrientes 
                    para una mejor producción a futuro.
                </p>
                <img src="/static/questionsRules/images/CultivoTarwi.png" alt="Cultivo de Tarwi">
            </div>
        </section>
        <section>
            <div class="section_title">
                <h2>Cultivo de Oca</h2>
            </div>
            <div class="section_content">
                <img src="/static/questionsRules/images/CultivoOca.png" alt="Cultivo de Oca">
                <p>
                    El cultivo de la Oca(Oxalis tuberosa) es un tubérculo muy demandado y cultivado en Bolivia, siendo el 
                    segundo tubérculo mas cultivado después de la papa, debido a que posee una gran resistencia a la helada.
                    <br>
                    Sin duda el mejor vegetal como barrera es el Tarwi, pero no debemos despreciar a la Oca, pues también 
                    tiene una gran efectividad para frenar a la plaga del Gorgojo de Los Andes y proteger tu parcela de papa.
                </p>
            </div>
        </section>
        <section>
            <div class="section_title">
                <h2>Cultivo de Cebada</h2>
            </div>
            <div class="section_content">
                <p>
                    El cultivo de la Oca(Oxalis tuberosa) es un tubérculo muy demandado y cultivado en Bolivia, siendo el 
                    segundo tubérculo mas cultivado después de la papa, debido a que posee una gran resistencia a la helada.
                    <br>
                    Sin duda el mejor vegetal como barrera es el Tarwi, pero no debemos despreciar a la Oca, pues también 
                    tiene una gran efectividad para frenar a la plaga del Gorgojo de Los Andes y proteger tu parcela de papa.
                </p>
                <img src="/static/questionsRules/images/CultivoCebada.png" alt="Cultivo de Cebada">
            </div>
        </section>
        <section>
            <div class="section_title">
                <h2>Cultivo de Cebolla</h2>
            </div>
            <div class="section_content">
                <img src="/static/questionsRules/images/CultivoCebolla.png" alt="Cultivo de Cebolla">
                <p>
                    El cultivo de la Oca(Oxalis tuberosa) es un tubérculo muy demandado y cultivado en Bolivia, siendo el segundo 
                    tubérculo mas cultivado después de la papa, debido a que posee una gran resistencia a la helada.
                    <br>
                    Sin duda el mejor vegetal como barrera es el Tarwi, pero no debemos despreciar a la Oca, pues también tiene 
                    suna gran efectividad para frenar a la plaga del Gorgojo de Los Andes y proteger tu parcela de papa.
                </p>
            </div>
            <br>
            <div class="button-gorgojo">
                <a href ="{% url 'questionsRules:rules' question.id %}" class="btn-gorgojo">Continuar con el sistema</a>
            </div>
        </section>
    </main>
    {% include "questionsRules/footer.html" %}
