{% load static %}
<link rel="stylesheet" href= {% static 'questionsRules/header.css' %}>
<link rel="stylesheet" href= {% static 'questionsRules/rules.css' %}>
<link rel="stylesheet" href= {% static 'questionsRules/footer.css' %}>

{% if latest_question_list %}
    {% include "questionsRules/header.html" %}
    <main class="content_main">
        <form action="{% url 'questionsRules:resp' %}" method="post">
            {% csrf_token %}
            {% for question in latest_question_list  %}
                <h2 class="title-fieldset">{{ question.question_text }}</h2>
                {% if error_message %}
                    <p class="text-danger"> <strong>{{ error_message }}</strong></p>
                {% endif %}
                {% for choice in question.choices_set.all  %}
                <div class="form-check">
                    <input type="radio" name="question{{ question.id }}" value="{{ choice.choice_text }}" id= "{{ choice.id }}" class="form-check-input">
                    <label for="question{{ question.id }}" class="form-check-label bold">
                        {{ choice.choice_text}}
                    </label>
                </div>
                {% endfor %}
            {% endfor %}
            <input type="submit" value= "aceptar">
        </form>
    </main>
    {% include "questionsRules/footer.html" %}
    {% else %}
    <p>Question error!!</p>
{% endif %}
