{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href= {% static 'questionsRules/style_dinamic.css' %}>
<link rel="stylesheet" href= {% static 'questionsRules/footer.css' %}>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trampas</title>
</head>
<body>
    <header class="header">
        <h1>Trampas para su Cultivo de Papa</h1>
    </header>
    <main class="container">
        <section>
            <div class="section_title">
                <h2>¿Por que es importante el uso de Trampas en el cultivo?</h2>
            </div>
            <div class="section_content">
                <img src="/static/questionsRules/images/simbol.png" alt="">
                <p>
                    Si bien no es necesario el uso de trampas en la parcela es muy recomendado poner trampas en su cultivo, ya que no 
                    siempre estara protegido de la plaga del Gorgojo de Los Andes o otras plagas y su uso dara menos riesgo a que su 
                    cultivo presente algun daño, en los siguiente artículos veremos como debes poner las trampas en la parcela y como 
                    estan son efectivas.
                </p>
            </div>
        </section>
        <section>
            <div class="section_title">
                <h2>Trampas de yute o paja</h2>
            </div>
            <div class="section_content">
                <p>
                    Este tipo de trampa es muy bueno debido a que colocaremos el yute o paja cerca a las plantas de la papa, durante el
                    dia el Gorgojo de Los Andes que se acerque a la planta se ocultara debajo de la misma llegando a estar en la 
                    trampa y cerca al atardecer el agricultor debe ir a recojer el yute o paja junto a los Gorgojos, sin duda es una
                    trampa muy facil de implementar al que debemos estar muy atentos al momento de recojerlo.                    
                </p>
                <img src="/static/questionsRules/images/simbol.png" alt="">
            </div>
            <div class="section_content">
                <p>
                    <span>Procedimiento: </span> <br>
                    Primero cortaremos un pedazo de yute de masomenos 20 x 20 centímetros o sino usamos paja de casi igual tamaño. <br>
                    Luego pondremos el pedazo de yute o paja con algunas hojas de papa alrededor de la parcela de papa a masomenos 1 
                    o 2 metros del cultivo y con una separacion de 1 metro de trampa a trampa. <br>
                    Posteriormente durante el dia el Gorgojo al buscar refugio y con el señuelo de las hojas tendra una gran 
                    posibilidad de que 
                    el Gorgojo de Los Andes este en la trampa. <br>
                    Finalmente de cierto tiempo y antes que el atardecer, Usted debe ir a recoger todas esas trampas y asi poder 
                    capturar a los Gorgojos de Los Andes si estuvieran ahi.</p>
            </div>
        </section>
        <section>
            <div class="section_title">
                <h2>Trampas caseras</h2>
            </div>
            <div>
                <h3>Revestimiento de nuestra zanja con plástico negro</h3>
            </div>
            <div class="section_content">
                <img src="/static/questionsRules/images/simbol.png" alt="">
                <p>
                    Como ya vimos anteriormente se puede aplicar un revestimiento con plástico negro a las zanjas para que nos sirva 
                    como trampa para atrapar a muchos Gorgojos Adultos que quieran ingresar a nuestra parcela.<br> 
                </p>
            </div>
            <div>
                <h3>Trampa con piedras planas</h3>
            </div>
            <div class="section_content">
                <p>
                    Esta trampa consiste en poner a un metro de distancia de la parcela piedras planas de aproximadamente 20 
                    centímetros y 2 metros de distancia entre piedra plana y priedra plana llegando a rodear completamente a la 
                    parcela, este tipo de trampa son denominadas trampas activas, debido a que durante el dia el Gorgojo de Los Andes 
                    estara oculto debajo de las piedras ya que es un ambiente muy favorable para la plaga que busca lugares oscuros y 
                    húmedos durante el día, entonces cerca al atardecer el agricultor debe ir a observar y recojer los Gorgojos Adultos
                    que se encuentren debajo de la trampa de piedra plana.
                </p>
                <img src="/static/questionsRules/images/simbol.png" alt="">
            </div>
            <div>
                <h3>Trampa con Botella de Plástico</h3>
            </div>
            <div class="section_content">
                <img src="/static/questionsRules/images/simbol.png" alt="">
                <p>
                    Consiste en cortar la botalla de plástico de 20 centímetros cortadas colocadas a masomenos un metro de distancia de 
                    la parcela y a 2 metros de la siguiente botella de plástico, llegando a rodear toda la parcela.<br>
                    Esta trampa es muy efectiva debido a que la humedad que produce durante el dia llega para que el Gorgojo de Los 
                    Andes se cubra y al final este atrapado en ella, sin duda una trampa muy facil de elaborar y colocar. Al final del 
                    dia el agricultor debera ir a observar y recojer los Gorgojos Adultos que se encuentren en la trampa de botella.
                </p>
            </div>
        </section>
    </main>
    {% include "questionsRules/footer.html" %}
