.footer{
    height: 5rem;
    align-content: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 100%;
    background: hsl(204, 100%, 5%);
}

.footer_div{
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    height: auto;
    background: hsl(204, 100%, 5%);
    top:50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

.footer_div img{
    max-width: 30px;
    max-height: auto;
    padding: auto;
    margin: auto;
}

.footer_div a{
    color: white;
    margin: auto;
    padding: auto;
    text-decoration: none;
}

.footer_div a:hover{
    background: linear-gradient(
        to right,
        hsl(90 100% 62%),
        hsl(204 100% 69%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}