.footer{
    justify-content: space-evenly;
    height: 75px;
    padding-bottom: 32000px;
    margin-bottom: -32000px;
}

.footer img{
    max-width: 30px;
    max-height: auto;
    padding: 0;
}

.footer a{
    color: white;
    margin: 0;
    padding: 10px 4px;
    text-decoration: none;
}

.footer a:hover{
    background: linear-gradient(
        to right,
        hsl(90 100% 62%),
        hsl(204 100% 69%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}