html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
    overflow: hidden;
  }

body {
    background: hsl(204, 100%, 5%);
    overflow-x: hidden;
    max-width: 1200px;
}
.header{
    background-color: hsl(204, 100%, 5%);
    background: linear-gradient(
        to right,
        hsl(90 100% 62%),
        hsl(204 100% 69%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 100px;
    margin-bottom: 50px;
}

.header h1{
    display: inline;
    margin: auto;
    padding: 0;
}