
main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 100px);
    width: 100%;
    height: 65vh;
    padding: 0;
    place-content: center;
}

.principal-text {
    text-align: center;
    background: linear-gradient(
        to right,
        hsl(90 100% 62%),
        hsl(204 100% 69%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.secundary-text {
    text-align: center;
    color: #fffefe;
    font-weight: bold;
}

.box1 {
    padding: 20px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    place-content: center;
}

.box2 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    place-content: center;
}

.box3 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    place-content: center;
}

.image-container img {
    max-width: 500 px;
    max-height: auto;
    place-content: center;
}

.box3 a {
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: hsl(204, 100%, 5%);
    color: white;
    border: 1px solid #d0d0d0;
}

.box3 a:hover {
    background: linear-gradient(
        to right,
        hsl(90 100% 62%),
        hsl(204 100% 69%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
