/* ----------Custom Properties--------- */
:root {
    --text-color: rgb(255, 255, 255);
	--font: "Relaway", sans-serif;
    --max-width: 1200px;
    --header-height: 4rem;
  }
  /* ---------Reset--------- */
  html {
    box-sizing: border-box;
    font-family: var(--font);
    height: 100%;
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  body {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    overflow-x: hidden;
    height: 100vh;
    max-width: 1200px;
    
    margin: 0;
    background: hsl(204, 100%, 5%);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}
  
  a {
    color: var(--text-color);
    transition: all 0.5s ease-out;
  }
  
  a:hover {
    opacity: 0.75;
  }
  
  h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  h3 {
    margin: 0;
    font-size: 1.25rem;
  }
  
  h4 {
    margin: 0;
    font-size: 1rem;
  }
  
  h5 {
    margin: 0;
    font-size: 0.85rem;
  }
  
  h6 {
    margin: 0;
    font-size: 0.7rem;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  p {
    line-height: 1.6;
  }